@font-face {
  font-family: 'A_Faseyha';
  font-style: normal;
  src: url('fonts/A_Faseyha.eot');
  src: local('A_Faseyha'), local('A_Faseyha'),
    url('fonts/A_Faseyha.eot?#iefix') format('embedded-opentype'),
    url('fonts/A_Faseyha.woff') format('woff2'),
    url('fonts/A_Faseyha.ttf') format('ttf'),
    url('fonts/A_Faseyha.svg#A_Faseyha') format('svg'),
}



.dark {
  background: rgb(44, 41, 41);
}

.light {
  background: indianred;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.ui.menu {
  background-image: url('./navaanavai.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.Home {
  display: flex;
  align-content: flex-end;
}

.logo {
  margin: auto;
  /* bottom: 10vh; */
}

.buttonSet {
  background: black;
}

.buttonGroup {
  text-align: center;
}

.faq {
  padding: 5vh;
}

.thaana {
  direction: rtl;
  font-family: 'A_Faseyha';
  font-size: 3vh;
  line-height: 5vh;
}
/* 
.bottom {
  position: absolute;
  bottom: 0;
} */